.share_link {
  background-color: var(--govuk-blue);
  padding: .5rem;

  a {
    font-size: 16px;
    background: url("icon-email.svg") no-repeat;
    background-size: 22px 22px;
    color: var(--govuk-white);
    padding-left: 25px;
  }

  .govuk-link {
    color: var(--govuk-white);
  }

  @media (min-width: 641px) {
    position: relative;
    margin-top: -5.7rem;
    padding: 0.9rem;
    top: 0;
  }
}
