<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">
      In family arbitration, you and the other person choose a qualified,
      impartial professional, often a solicitor or barrister, to hear both of your views.
      They will then make a decision to resolve your dispute, applying the law of England and Wales.
    </p>

    <p class="govuk-body">
      You can still hire a lawyer to advise you throughout the process.
    </p>

    <div class="summary_area__usp">
      <h2 class="summary_area_usp__heading govuk-heading-l govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Arbitration if...</span>
        </span>
      </h2>

      <p class="govuk-body">
        You want an independent professional to make a decision for you without going to court.
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-m" aria-label="Pros of Arbitration">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            quicker and more flexible than court
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            you choose the arbitrator
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            the arbitrator will make a decision based on the evidence
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Arbitration">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            process can break down if there is a lack of trust and co-operation
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            can be an expensive process
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            not suitable for cases with domestic abuse or safeguarding concerns
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="area_links govuk-!-margin-top-6">
      <h2 class="area_links__heading govuk-heading-l">A typical Arbitration process</h2>
    </nav>
  </div>
</div>

<section id="step-arbitration-step-1" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <span class="step__count step__count--arbitration-step-1">
              Step <span class="step__count__counter">1</span>
              <span aria-label=" - "></span>
            </span>
            Agree to arbitration
          </h3>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              Both you and the other person agree to resolve all, or part of,
              your dispute through arbitration. You must both accept before starting the process
              that you will be bound by the arbitrator's decision (the "determination").
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-arbitration-step-2" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <span class="step__count step__count--arbitration-step-2">
              Step <span class="step__count__counter">2</span>
              <span aria-label=" - "></span>
            </span>
            Choose an arbitrator
          </h3>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              Choose an experienced arbitrator.
              An arbitrator should be a specially trained legal professional,
              often a solicitor or barrister. The same person will deal with all stages of your case.
              Organisations such as the <%= govuk_link_to "Institute of Family Law Arbitrator's (IFLA)", "https://ifla.org.uk/" %>
              can help you choose an arbitrator.
            </p>

            <p class="govuk-body">
              Check that the arbitrator is trained to resolve your dispute.
              Some will only consider finance cases, some only children and some can work on both types.
            </p>

            <p class="govuk-body">
              Consider location, the arbitrator's experience and the costs.
              This will likely include the arbitrator's fees and expenses, venue fees,
              your own legal costs (if you hire a lawyer) and expert fees.
            </p>

            <p class="govuk-body">
              You may wish to get a lawyer to help and advise you.
            </p>
          </div>
        </div>

        <div class="cost govuk-grid-column-one-third govuk-!-margin-top-2">
          <p class="cost__amount govuk-heading-l"><strong>&pound;1,000 - &pound;7,500</strong></p>
          <p class="govuk-body-xs">
            <strong>The cost of arbitration will vary from case to case.</strong>
            Fees can be based on an hourly, daily or fixed-fee basis.
          </p>

          <p class="govuk-body-xs">
            Fees may vary depending on your location and the experience of the arbitrator. How long you need will depend on your situation.
          </p>

          <h4 class="cost__heading govuk-heading-s">Lawyer rates (per hour)</h4>
          <p class="cost__amount govuk-heading-l"><strong>&pound;110 - &pound;410</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-arbitration-step-3" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <span class="step__count step__count--arbitration-step-3">
              Step <span class="step__count__counter">3</span>
              <span aria-label=" - "></span>
            </span>
            Submit an application
          </h3>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              You and the other person will complete and send an application form.
            </p>

            <p class="govuk-body">
              You should describe the issue you want to resolve, and by signing the forms,
              you are both agreeing to accept the decision of the arbitrator.
              You must also disclose any safeguarding concerns in children cases.
            </p>

            <p class="govuk-body">
              The arbitrator will then contact you and the other person directly with a formal letter of acceptance and to confirm the terms of their appointment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-arbitration-step-4" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <span class="step__count step__count--arbitration-step-4">
              Step <span class="step__count__counter">4</span>
              <span aria-label=" - "></span>
            </span>
            Attend sessions
          </h3>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              The arbitration process will depend on the preferences of you and the other person,
              and the complexity of the case. You can decide for the case to be dealt with on paper,
              or you can attend telephone or in person meetings.
            </p>

            <p class="govuk-body">
              The arbitrator may hold an introductory meeting to explain the process and the issues to be discussed.
              Further meetings will be held, as needed, to determine the facts of the case.
            </p>

            <p class="govuk-body">
              The arbitrator may bring in experts, for example, to carry out valuations.
              Your lawyer can also be present at any meetings to provide you with guidance.
            </p>

            <p class="govuk-body">
              After reading or hearing the facts, evidence and the views of both participants,
              and once the fees have been paid in full, the arbitrator will make a final decision.
            </p>

            <p class="govuk-body">
              The decision will be put in writing and shared with you and the other person.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-arbitration-step-5" class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <span class="step__count step__count--arbitration-step-5">
              Step <span class="step__count__counter">5</span>
              <span aria-label=" - "></span>
            </span>
            Make your agreement legally binding
          </h3>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              You will have agreed at the outset to be bound by the arbitrator's decision.
              You can ask for the decision to be made into a consent order by the court to make it legally binding.
            </p>

            <p class="govuk-body">
              The court will consider the order and make your agreement legally binding if it believes
              that what you have agreed is appropriate.
            </p>

            <p class="govuk-body">
              If a court order is made, its terms can be enforced if the other person does not follow the order.
            </p>

            <p class="govuk-body">
              <%= govuk_link_to "GOV.UK", "https://www.gov.uk/looking-after-children-divorce/if-you-agree" %> has more information about consent orders.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path)]
%>
