<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Get help with child arrangements
    </h1>

    <p class="govuk-body">
      This site has been replaced by:
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Find out about more about making child arrangements", "https://www.gov.uk/looking-after-children-divorce" %>.
    </p>

  </div>
</div>
