<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">
      One lawyer will work with you and the other parent to manage your separation together without going to court.
      The lawyer does not represent either of you individually and will give you both legal advice together.
      The lawyer cannot advise two clients who are in conflict.
    </p>

    <p class="govuk-body">
      The lawyer will offer legal advice based on the information provided by you and the other parent and
      will explain how a court might deal with matters relating to your children and/or financial situation.
    </p>

    <p class="govuk-body">You may each need to hire a new lawyer if you decide to proceed to court.</p>

    <div class="summary_area__usp">
      <h2 class="summary_area_usp__heading govuk-heading-l govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Single lawyer model if...</span>
        </span>
      </h2>

      <p class="govuk-body">
        You can still communicate with the other parent but would benefit from professional legal advice.
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-m" aria-label="Pros of Single lawyer model">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            quicker and less stressful than court
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            more co-operative approach to separation
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            can produce a mutual agreement
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Single lawyer model">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            will not work if you are in conflict with the other parent
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            not suitable for cases with domestic abuse or safeguarding concerns
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            can be an expensive process
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            you'll need a consent order to make agreement legally binding
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="area_links govuk-!-margin-top-6">
      <h2 class="area_links__heading govuk-heading-l">A typical Single Lawyer Model process</h2>
    </nav>
  </div>
</div>

<section id="step-single-lawyer-step-1" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--single-lawyer-step-1">
              Step <span class="step__count__counter">1</span>
              <span aria-label=" - "></span>
            </span>
            Hire a single lawyer
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              The single lawyer approach is best suited to amicable separations.
              You may have some disagreements about matters relating to your children and/or financial situation
              and could benefit from professional assistance, but this approach is not a form of dispute resolution.
            </p>

            <p class="govuk-body">
              The lawyer will instead provide legal advice to you and the other parent who are committed
              to working together to reach an agreement.
              The lawyer cannot advise two clients who are in conflict.
            </p>

            <p class="govuk-body">
              You and the other parent hire one professional trained in the single lawyer process.
              This is different to the traditional approach where you and the other parent would each
              hire separate lawyers to represent your individual interests.
            </p>

            <p class="govuk-body">
              You are free to decide how to share the costs of the single lawyer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-single-lawyer-step-2" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--single-lawyer-step-2">
              Step <span class="step__count__counter">2</span>
              <span aria-label=" - "></span>
            </span>
            Meet with your lawyer
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              The lawyer will first meet with you and the other parent separately to determine
              if the approach is right for you and to check if there are any safety concerns.
              The single lawyer model is not appropriate where, for example, there is a power imbalance,
              or the case is particularly complex.
            </p>

            <p class="govuk-body">
              You and the other parent must agree to share all of the relevant facts and must
              commit to being open and transparent throughout the process.
            </p>
          </div>
        </div>

        <div class="cost govuk-grid-column-one-third govuk-!-margin-top-2">
          <p class="govuk-body-xs">
            Some providers will offer a free consultation and a fixed price service.
          </p>

          <p class="govuk-body-xs">
            Fees will vary depending on your situation, location, and the experience of the lawyer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-single-lawyer-step-3" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--single-lawyer-step-3">
              Step <span class="step__count__counter">3</span>
              <span aria-label=" - "></span>
            </span>
            Attend meetings
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              The single professional will offer legal advice based on the information provided by you
              and the other parent and will explain how a court might deal with matters relating to
              your children and/or financial situation.
            </p>

            <p class="govuk-body">
              The legal professional will work with you and the other parent to resolve any issues.
              They will help you to reach a workable solution that is acceptable to you both.
            </p>

            <p class="govuk-body">
              Where necessary, the legal professionals can make a referral to other professionals such as
              therapists and mediators.
            </p>

            <h3 class="govuk-heading-m">If you reach an agreement</p>

            <p class="govuk-body">
              What you have agreed should be recorded in writing and include all of the relevant
              details of the arrangements.
            </p>

            <h3 class="govuk-heading-m">If you are unable to reach an agreement</p>

            <p class="govuk-body">
              You may each need to hire a new lawyer if you decide to take your case to court.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-single-lawyer-step-4" class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--single-lawyer-step-4">
              Step <span class="step__count__counter">4</span>
              <span aria-label=" - "></span>
            </span>
            Make your agreement legally binding
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">
              You can ask for the decision to be made into a consent order by the court.
            </p>

            <p class="govuk-body">
              The single legal professional can prepare the consent order based on what you and the other parent have agreed.
            </p>

            <p class="govuk-body">
              The court will consider the order and make your agreement legally binding if it believes that what you have agreed is appropriate
            </p>

            <p class="govuk-body">
              <%= govuk_link_to "GOV.UK", "https://www.gov.uk/looking-after-children-divorce/if-you-agree" %> has more information about consent orders and making your agreement legally binding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path)]
%>
