.step {
  border-top: var(--border-divider);
  margin-top: 2.5rem;
  position: relative;
  padding-top: 2.5rem;

  @include govuk-media-query($from: tablet) {
    > * {
      padding-left: 6.8rem;
    }
  }

  &__count {
    display: block;
    position: relative;
    color: var(--govuk-black);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .6rem 0 0;
    margin-top: -.5rem;
    margin-bottom: 1rem;

    @include govuk-media-query($from: tablet) {
      font-size: 1.5rem;
      position: absolute;
      padding: 0;
      margin-top: 0;
      left: 0;
      top: 2.5rem;
      width: 10rem;
      height: 8rem;
    }

    @include govuk-media-query($from: desktop) {
      &__counter {
        position: absolute;
        top: 2.5rem;
        left: 0;
        font-size: 1.4em;
        width: 1.35em;
        height: 1.35em;
        border: solid 1px var(--govuk-black);
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 1px;
      }
    }

    @media print {
      text-transform: uppercase;
      margin: 3rem 0 0;
      line-height: 1;
    }
  }

  &__heading {
    margin-top: 0;
    font-size: 2.4rem; /* GDS FONT OVERRIDE */

    @media print {
      margin-top: 0;
    }
  }

  &__content h3 {
    line-height: 1.3158;
    margin-top: 1.0526em;
  }
}
