<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/contact-court-funds-office" class="govuk-link">Contact the Courts Funds Office</a> if you need to speak to someone about unclaimed court money.</p>
  </main>
</div>
