<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button, <a href="https://www.gov.uk/contact-court-funds-office" class="govuk-link">contact the Courts Funds Office</a> if you need to speak to someone about unclaimed court money.</p>
  </main>
</div>
