@import "colours";
@import "custom-media";
@import "defaults";
@import "govuk-selectors";
@import "overrides";

:root {
  --non-standard-heading {
    margin-bottom: 0;
    page-break-after: avoid;
  }

  --non-standard-post-heading {
    margin-top: 3pt;
    page-break-before: avoid;
  }
}
