<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Account number</th>
      <th class="govuk-table__header">Case name</th>
      <th class="govuk-table__header">Date account opened</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @cases.each do |kase| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= kase.account_number %></td>
        <td class="govuk-table__cell"><%= govuk_link_to kase.case_name, case_path(kase.account_number) %></td>
        <td class="govuk-table__cell"><%= kase.date_account_opened %></td>
      </tr>
    <% end %>
  </tbody>
</table>
