<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p>This accessibility statement applies to the Get help with child arrangements site at: <a href="https://helpwithchildarrangements.service.justice.gov.uk/">https://helpwithchildarrangements.service.justice.gov.uk/</a>.</p>
    
    <p>This site was built by the Ministry of Justice. Justice Digital is responsible for the content of this site.</p>

    <h2 class="govuk-heading-l">Using this site</h2>
    <p class="govuk-body">We want as many people as possible to be able to use this site. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate the site using just a keyboard</li>
      <li>navigate the site using speech recognition software</li>
      <li>listen to the content using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p class="govuk-body">We have also made the text as simple as possible to understand.</p>

    <p class="govuk-body"><%= govuk_link_to "AbilityNet", "https://mcmw.abilitynet.org.uk/" %> has advice on making your
      device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-l">How accessible this site is</h2>
    <p class="govuk-body">This site is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard, due to the non-compliances listed below.</p>

    <h2 class="govuk-heading-l">Feedback and contact information</h2>
    <p class="govuk-body">If you need information on this site in a different format like accessible PDF, large print, easy read, audio recording or braille, email: <%= govuk_link_to("accessibility.childarrangements@digital.justice.gov.uk", "mailto:accessibility.childarrangements@digital.justice.gov.uk") %>.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this site</h2>
    <p class="govuk-body">We’re always looking to improve the accessibility of this site. If you find any problems or think we’re not meeting accessibility requirements, email: <%= govuk_link_to("accessibility.childarrangements@digital.justice.gov.uk", "mailto:accessibility.childarrangements@digital.justice.gov.uk") %>.</p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-l">Technical information about this site's accessibility</h2>
    <p class="govuk-body">We are committed to making this site accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-m">Compliance status</h3>
    <p class="govuk-body">The site has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
    <p class="govuk-body">This site is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard, due to the non-compliances listed below.</p>
    
    <h2 class="govuk-heading-l">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

    <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>several pages link to inaccessible PDFs produced and hosted on external sites</li>
      <li>several pages contain Youtube videos produced by external organisations which may not be fully accessible</li>
      <li>there is no global navigation or site map</li>
    </ul>

    <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
    <p class="govuk-body">We review the content and performance of this site on an ongoing basis and fix any accessibility issues identified or reported to us.</p>

    <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was last updated on 10 March 2025.</p>
    <p class="govuk-body">We completed accessibility checks on a representative sample of pages using keyboard testing and the WAVE automated testing tool. The tests on the website were carried out by the Ministry of Justice on 24 February 2025.</p>
  </div>
</div>
