.Cost {
  border-left: var(--border-brand);
  padding-left: 1.5rem;
  margin-bottom: 3rem;

  &--step {
    @include govuk-media-query($from: desktop) {
      top: 3rem;
    }
  }
  &__heading {
    margin-top: 0;
  }
  &__amount {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  &__small_print p {
    font-size: 1.4rem;
    margin: 0 0 1.5rem;
  }

  @include govuk-media-query($from: tablet) {
    border-left: none;
    border-top: var(--border-brand);
    padding-left: 0;
    padding-top: 1rem;
  }
}
