@import 'all';
@import '../section-video/main';

.SummaryAreas__heading {
  font-size: 2.8rem;
  padding: 0 0 1.5rem;
  margin-bottom: 2rem;
}

.SummaryAreas + .SummaryAreas {
  margin-top: -3rem;
}

@include govuk-media-query($from: desktop) {
  .SummaryAreas__heading {
    font-size: 4rem;
  }
}
