.summary__heading {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.summary_areas {
  &__heading {
    font-size: 2.8rem;
    padding: 0 0 1.5rem;
    margin-bottom: 2rem;
    border-bottom: var(--border-divider);
  }

  @include govuk-media-query($from: desktop) {
    &__heading {
      font-size: 2.5rem;
    }
  }
}

.summary_areas + .summary_areas {
  margin-top: -3rem;
}

.summary_area {
  clear: both;
  margin: 1rem 0 2rem;
  padding: 1rem 0;
  border-bottom: var(--border-divider);

  &:last-child {
    border-bottom: none;
  }

  &__heading {
    font-size: 2.25rem;
    margin-top: 0;

    @media print {
      page-break-after: avoid;
    }
  }

  &__concerning {
    box-sizing: border-box;
    padding: 1.5rem 1.5rem 2rem;
    background: var(--grey-4);

    &__heading {
      margin-top: 0;
    }
  }

  &__read-more {
    margin-top: 2rem;

    @media print {
      display: none;
    }
  }

  @include govuk-media-query($from: desktop) {
    overflow: hidden;
    padding-bottom: 3rem;

    &__details {
      box-sizing: border-box;
      float: left;
      width: 66.667%;
      padding-right: 1.5rem;
    }

    &__aside {
      box-sizing: border-box;
      float: right;
      width: 31.375%;
    }

    &__read-more {
      display: none;
    }
  }
}

@media print {
  .summary_area__concerning__heading,
  .summary_area__involvement__heading,
  .summary_area_usp__heading,
  .area__usp__heading {
    @apply --non-standard-heading;
  }

  .summary_area__concerning__list,
  .summary_area__involvement__list,
  .summary_area_usp__heading + p,
  .area__usp__heading + p {
    @apply --non-standard-post-heading;
  }
}
